<table class="calendar__table">
  <thead>
  <tr class="calendar__table-head">
    <th>
      <button class="btn btn--add btn--add-lg js-prevYear">
        <span class="fa fa-arrow-circle-left">
      </button>
    </th>
    <th colspan="5">{{month}}, {{year}}</th>
    <th>
      <button class="btn btn--add btn--add-lg js-nextYear">
        <span class="fa fa-arrow-circle-right">
      </button>
    </th>
  </tr>
  <tr class="calendar__day-names">
  {{#each DAY_NAMES}}
    <th>{{this}}</th>
  {{/each}}
  </tr>
</thead>
<tbody class="calendar__table-body">
  {{#each days}}
  </tr>
    {{#each this}}
    <td>
      <span class="calendar__days" data-id="{{this.fullDate}}">{{this.number}}</span>
    </td>
    {{/each}}
  </tr>
  {{/each}}
</tbody>