<table class="table_calendar">
  <thead>
  <tr class="head_cal">
    <th>
      <button class="btn btn--add btn--add-lg js-prevYear">
        <span class="fa fa-arrow-circle-left">
      </button>
    </th>
    <th colspan="5">{{month}}, {{year}}</th>
    <th>
      <button class="btn btn--add btn--add-lg js-nextYear">
        <span class="fa fa-arrow-circle-right">
      </button>
    </th>
  </tr>
  <tr class="week_cal">
  {{#each dayOfWeek}}
    <th>{{this}}</th>
  {{/each}}
  </tr>
</thead>
<tbody class="days_cal">
  {{#each days}}
  </tr>
    {{#each this}}
    <td>
      <span class="days_cal--inner" data-id="{{this.fullDate}}">{{this.number}}</span>
    </td>
    {{/each}}
  </tr>
  {{/each}}
</tbody>